/* ==========================================
COMMON
========================================== */
body {
	background: $bg-color;
	color: $text-color;
	font-family: $font;
	font-size: 100%;
	line-height: 1.6;
}

a {
	@include link-color-lighten($accent-color);
	text-decoration: none;
}

a:hover img {
	@include opacity(0.8);
}

img {
	max-width: 100%;
	height: auto;
}
