/* ==========================================
LAYOUT
========================================== */
.container {
	@extend %clearfix;
	@include grid-unit(12);
	@include block-center;
}

#nav {
	@include trans-bg(#000, 0.5);
	padding: $space/4;
	margin-bottom: $margin;
	ul {
		@extend %clearfix;
	}
	li {
		margin-right: $space;
		float: left;
		margin-right: $margin;
	}
	a {
		@include link-color-lighten($main-color);
	}
}

#header {
	@extend %clearfix;
	h1 {
		color: $main-color;
		font-size: $base-font-size*1.5;
		margin-bottom: $margin;
	}
}

#content {
	margin-bottom: $margin;
	h2 {
		color: $main-color;
		margin-bottom: $space/2;
		font-size: $base-font-size;
	}
	.btn-more {
		@include link-color-darken(#fff);
		span {
			@include gradient-top-lighten($color:#fc0, $lighten:30%);
			padding: 10px;
		}
	}
}



/* ==========================================
HOME
========================================== */
.main-content {
	@include grid-unit(8);
	.box1 {
		@extend %clearfix;
		h2 {
			color: $main-color;
		}
		p {
			@include grid-unit(5);
			margin-right: 0;
		}
		.profile-pic {
			@include grid-unit(3);
			img {
				@include border-radius(5);
			}
		}
	}
}

.sidebar {
	@include grid-unit(4);
	margin-right: 0;
}

#footer {
	text-align: right;
}


